.pageCate{
    margin: 32px 40px;

}
.main{
    margin-top: 32px;
    overflow-x: auto;
    box-shadow: 0px 10px 20px 0px rgb(228, 225, 225);

}

.cateImg{
    height: 80px;
}

.table{
    background-color: white;
    border-radius: 10px;
    margin-bottom: 0px !important;
    min-width: 720px;
    text-align: center;
}

td{
    vertical-align:middle;
}


.titlePageCate{
    font-weight: 700;
    font-size: 30px;
}

.BtnAdd{
    display: block;
    padding-bottom: 32px;
}

.btnAdd{
    float: right;
    padding: 5px 20px;
    background-color: #17e86b;
    border: 1px solid #0a4c16;
    border-radius: 5px;
    font-weight: 400;
}

.btnAdd:hover{
    background-color: #23cb66;
}

.iconDelete{
    padding: 5px 7px;
    border: 2px solid #FC929D;
    border-radius: 5px;
    color: #FC929D;
    margin-left: 32px;
}

.iconDelete:hover{
    color: #f04b5b;
    border: 2px solid #f04b5b;
}

.iconEdit{
    padding: 5px 7px;
    border: 2px solid #02bcff;
    border-radius: 5px;
    color: #02bcff;
}

.iconEdit:hover{
    color:  #07a6f6;
    border: 2px solid #07a6f6;
}

.pagination{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
}

.page-num{
    text-decoration: none;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 400;
    color: #000;
}

.page-num:hover{
    background: #5AB1BB;
    color: #fff;
}

