.pros-page{
    margin: 40px;
}

.content-pros{
    display: flex;
    flex-wrap: wrap;
}
.slide-cate{
}

.title-kind-cate{
    font-size: 32px;
    font-weight: 700;
}

.categories{
    list-style: none;
    padding-left: 0px !important;
    padding-top: 40px;
}

.cate-link{
    text-decoration: none;
    color: #333f48;
}

.cate-link:hover{
    color: red;
}

.cateItem{
    padding: 6px 0px;
}

.cateActive{
    color: red;
}